<!-- INPUT TASK -->
<!-- <div *ngFor = "let order of ordersArray; let i = index">
  
  <h2>{{i}}.{{order.title}}</h2>
  <p>{{order.text}}</p>
  <p>{{order.date | date: "full" | uppercase}}</p>

</div>
-->

<!-- TOGGLE BUTTON FOR OUTPUT TASK -->
<!-- <button (click)="show = !show">Toggle</button>
<div *ngIf="show">

  <app-order-list [ordersArray]="ordersArray"></app-order-list>
</div> -->

<button (click)="addFunction()">Submit</button>
 
<button (click)="toggleFunction($event)">Toggle</button>
<div *ngIf="show">
  <app-order-list [ordersArray]="ordersArray"></app-order-list>
</div> 

<app-order-list [ordersArray]="ordersArray" (removeEvent)="removeOrder(orderIndex)"></app-order-list>